Repository mim-uw/eXplainableMachineLearning-2023, pull requests merged in 2022-12, with the labels that each got.

#190 HW6
  Homeworks/HW6/MichalKrutul/xai_6.html
  Homeworks/HW6/MichalKrutul/xai_6.ipynb
Labels: HW6

#34 Add hmw1
  Homeworks/HW1/JakubKrajewski/xai_1.ipynb
Labels: results OK need comments

#99 [HB] Kajetan Husiatyński HW4
  Homeworks/HW4/KajetanHusiatynski/hw4.html
  Homeworks/HW4/KajetanHusiatynski/hw4.ipynb
  Homeworks/HW4/KajetanHusiatynski/images/cp_absences_1.png
  Homeworks/HW4/KajetanHusiatynski/images/cp_absences_2.png
  Homeworks/HW4/KajetanHusiatynski/images/cp_age_1.png
  Homeworks/HW4/KajetanHusiatynski/images/cp_age_2.png
  Homeworks/HW4/KajetanHusiatynski/images/cp_dalc_1.png
  Homeworks/HW4/KajetanHusiatynski/images/cp_freetime_1.png
  Homeworks/HW4/KajetanHusiatynski/images/cp_freetime_2.png
  Homeworks/HW4/KajetanHusiatynski/images/cp_g1_1.png
  Homeworks/HW4/KajetanHusiatynski/images/cp_g1_2.png
  Homeworks/HW4/KajetanHusiatynski/images/cp_g2_1.png
  Homeworks/HW4/KajetanHusiatynski/images/cp_g2_2.png
  Homeworks/HW4/KajetanHusiatynski/images/cp_walc_1.png
  Homeworks/HW4/KajetanHusiatynski/images/linear_age.png
  Homeworks/HW4/KajetanHusiatynski/images/linear_dalc.png
  Homeworks/HW4/KajetanHusiatynski/images/linear_g1.png
  Homeworks/HW4/KajetanHusiatynski/images/linear_g2.png
  Homeworks/HW4/KajetanHusiatynski/images/pdp_absences.png
  Homeworks/HW4/KajetanHusiatynski/images/pdp_age.png
  Homeworks/HW4/KajetanHusiatynski/images/pdp_dalc.png
  Homeworks/HW4/KajetanHusiatynski/images/pdp_g1.png
  Homeworks/HW4/KajetanHusiatynski/images/pdp_g2.png
Labels: wrong solution, HW4

#100 Added Homework IV (HW4)
  Homeworks/HW4/JakubBednarz/Analysis, Part IV.html
  Homeworks/HW4/JakubBednarz/Analysis, Part IV.ipynb
  Homeworks/HW4/JakubBednarz/Makefile
  Homeworks/HW4/JakubBednarz/brain_stroke.csv
Labels: technical error e.g. no visible plots, wrong solution, HW4
