Repository mim-uw/eXplainableMachineLearning-2023, pull requests merged in 2023-01, with the labels that each got.

#159 Add hw6
  Homeworks/HW6/KamilGrudzien/hw6.html
  Homeworks/HW6/KamilGrudzien/hw6.ipynb
  Homeworks/HW6/KamilGrudzien/imgs/img2.2.png
  Homeworks/HW6/KamilGrudzien/imgs/img2.3.png
  Homeworks/HW6/KamilGrudzien/imgs/img2.4.all.png
  Homeworks/HW6/KamilGrudzien/imgs/img2.4.resample.png
  Homeworks/HW6/KamilGrudzien/imgs/img2.4.reweight.png
Labels: results OK need comments, HW6

#156 Add HW6 Krystian Sztenderski
  Homeworks/HW6/KrystianSztenderski/imgs/lr.png
  Homeworks/HW6/KrystianSztenderski/imgs/rf.png
  Homeworks/HW6/KrystianSztenderski/imgs/rf_reweight.png
  Homeworks/HW6/KrystianSztenderski/imgs/rf_without_prot.png
  Homeworks/HW6/KrystianSztenderski/imgs/task_1.png
  Homeworks/HW6/KrystianSztenderski/main.html
  Homeworks/HW6/KrystianSztenderski/main.ipynb
Labels: late/part missing, HW6

#157 Added HW6
  Homeworks/HW6/MichalSiennicki/imgs/1.png
  Homeworks/HW6/MichalSiennicki/imgs/2.png
  Homeworks/HW6/MichalSiennicki/imgs/3.png
  Homeworks/HW6/MichalSiennicki/main.html
  Homeworks/HW6/MichalSiennicki/main.ipynb
Labels: results OK need comments, HW6

#162 [HB] hw6 kajetan husiatynski
  Homeworks/HW6/hw6.html
  Homeworks/HW6/hw6.ipynb
Labels: late/part missing, HW6

#165 Pd6
  Homeworks/HW1/MAURYCYMOCZULSKI.ipynb
  Homeworks/HW6/MaurycyMoczulski/Maurycy_Moczulski_pd6.html
  Homeworks/HW6/MaurycyMoczulski/Maurycy_Moczulski_pd6.ipynb
  Homeworks/HW6/MaurycyMoczulski/pngiesy/newplot.png
  Homeworks/HW6/MaurycyMoczulski/pngiesy/newplot1.png
  Homeworks/HW6/MaurycyMoczulski/pngiesy/newplot2.png
  Homeworks/HW6/MaurycyMoczulski/pngiesy/newplot3.png
  Homeworks/HW6/MaurycyMoczulski/pngiesy/newplot4.png
  Homeworks/HW6/MaurycyMoczulski/pngiesy/newplot5.png
Labels: results OK need comments, HW6

#25 pd1
  Homeworks/HW1/MAURYCYMOCZULSKI.ipynb
  Homeworks/HW6/MaurycyMoczulski/Maurycy_Moczulski_pd6.html
  Homeworks/HW6/MaurycyMoczulski/Maurycy_Moczulski_pd6.ipynb
  Homeworks/HW6/MaurycyMoczulski/pngiesy/newplot.png
  Homeworks/HW6/MaurycyMoczulski/pngiesy/newplot1.png
  Homeworks/HW6/MaurycyMoczulski/pngiesy/newplot2.png
  Homeworks/HW6/MaurycyMoczulski/pngiesy/newplot3.png
  Homeworks/HW6/MaurycyMoczulski/pngiesy/newplot4.png
  Homeworks/HW6/MaurycyMoczulski/pngiesy/newplot5.png
Labels: results OK need comments

#166 Added HW6 solution
  Homeworks/HW6/AleksandraMysiak/XAI_HW6.html
  Homeworks/HW6/AleksandraMysiak/XAI_HW6.ipynb
  Homeworks/HW6/AleksandraMysiak/all_models.png
  Homeworks/HW6/AleksandraMysiak/model.png
  Homeworks/HW6/AleksandraMysiak/model_2.png
  Homeworks/HW6/AleksandraMysiak/reweight.png
Labels: late/part missing, HW6

#122 mtyrolski-hw4
  Homeworks/HW4/MichalTyrolski/.keep
  Homeworks/HW4/MichalTyrolski/Copy_of_mt406390_xai4.html
  Homeworks/HW4/MichalTyrolski/mt406390_xai4.ipynb
Labels: wrong solution, HW4

#116 Add Homework 4
  Homeworks/HW4/StanislawFrejlak/Homework4.html
  Homeworks/HW4/StanislawFrejlak/Homework4.ipynb
Labels: results OK need comments, wrong solution, HW4

#32 HW1_notebook
  Homeworks/HW1/MaciejWojtala/XAI_zad_1.ipynb
  Homeworks/HW1/MaciejWojtala/XAI_zad_1_poprawki.ipynb
  Homeworks/HW1/MaciejWojtala/Zad_1_poprawki.html
Labels: results OK need comments

#144 Hw5
  Homeworks/HW5/MateuszBiesiadowski/xai_homework5.html
  Homeworks/HW5/MateuszBiesiadowski/xai_homework5.ipynb
Labels: results OK need comments

#143 Added solution to homework number 5
  Homeworks/HW5/AlicjaZiarko/HW5.html
  Homeworks/HW5/AlicjaZiarko/HW5.ipynb
Labels: wrong solution

#142 Hw5
  Homeworks/HW5/PiotrKomorowski/HW5.html
  Homeworks/HW5/PiotrKomorowski/HW5.ipynb
Labels: question

#129 brain stroke HW5
  Homeworks/HW5/JakubWalendowski/1.png
  Homeworks/HW5/JakubWalendowski/2.png
  Homeworks/HW5/JakubWalendowski/3.png
  Homeworks/HW5/JakubWalendowski/4.png
  Homeworks/HW5/JakubWalendowski/Appendix.ipynb
  Homeworks/HW5/JakubWalendowski/main.html
Labels: technical error e.g. no visible plots

#58 brain stroke HW2
  Homeworks/HW2/JakubWalendowski/1.png
  Homeworks/HW2/JakubWalendowski/2.png
  Homeworks/HW2/JakubWalendowski/main.html
  Homeworks/HW2/JakubWalendowski/main.ipynb
Labels: results OK need comments

#35 HW1 + HW2 + HW3+HW4+HW5+HW6 Jacek Rutkowski HB
  Homeworks/HW1/JacekRutkowski/XAI_HW1.ipynb
  Homeworks/HW2/HB_HW_2_part_1_JR.ipynb
  Homeworks/HW2/HB_HW_2_part_2_JR.ipynb
  Homeworks/HW2/SHAP_values.jpg
  Homeworks/HW3/JacekRutkowski/JR_XAI_HW3_appendix.ipynb
  Homeworks/HW3/JacekRutkowski/JR_XAI_HW3_results.ipynb
  Homeworks/HW4/JacekRutkowski/.gitkeep
  Homeworks/HW4/JacekRutkowski/HW_4_zadanie.jpg
  Homeworks/HW4/JacekRutkowski/XAI_HW_4__appendix.ipynb
  Homeworks/HW4/JacekRutkowski/XAI_HW_4__results.ipynb
  Homeworks/HW4/JacekRutkowski/plots/plot_1.png
  Homeworks/HW4/JacekRutkowski/plots/plot_2.png
  Homeworks/HW4/JacekRutkowski/plots/plot_3.png
  Homeworks/HW4/JacekRutkowski/plots/plot_4_1.png
  Homeworks/HW4/JacekRutkowski/plots/plot_4_2.png
  Homeworks/HW4/JacekRutkowski/plots/plot_4_3.png
  Homeworks/HW4/JacekRutkowski/plots/plot_4_4.png
  Homeworks/HW4/JacekRutkowski/plots/plot_4_5.png
  Homeworks/HW4/JacekRutkowski/plots/plot_5_1.png
  Homeworks/HW4/JacekRutkowski/plots/plot_5_2.png
  Homeworks/HW4/JacekRutkowski/plots/plot_6_1.png
  Homeworks/HW4/JacekRutkowski/plots/plot_6_2.png
  Homeworks/HW4/JacekRutkowski/plots/plot_7_1.png
  Homeworks/HW4/JacekRutkowski/plots/plot_7_2.png
  Homeworks/HW5/JacekRutkowski/.gitkeep
  Homeworks/HW5/JacekRutkowski/XAI_HW_5_appendix.ipynb
  Homeworks/HW5/JacekRutkowski/XAI_HW_5_results.ipynb
  Homeworks/HW5/JacekRutkowski/plots/p1.png
  Homeworks/HW5/JacekRutkowski/plots/p2.png
  Homeworks/HW5/JacekRutkowski/plots/p3.png
  Homeworks/HW5/JacekRutkowski/plots/p4.png
  Homeworks/HW5/JacekRutkowski/plots/p5.png
  Homeworks/HW5/JacekRutkowski/plots/p6.png
  Homeworks/HW5/JacekRutkowski/plots/p7.png
  Homeworks/HW6/JacekRutkowski/.gitkeep
  Homeworks/HW6/JacekRutkowski/Task_1.jpg
  Homeworks/HW6/JacekRutkowski/XAI_HW_6_appendix.ipynb
  Homeworks/HW6/JacekRutkowski/XAI_HW_6_results.html
  Homeworks/HW6/JacekRutkowski/XAI_HW_6_results.ipynb
  Homeworks/HW6/JacekRutkowski/plots/p1.png
  Homeworks/HW6/JacekRutkowski/plots/p2.png
  Homeworks/HW6/JacekRutkowski/plots/p3.png
  Homeworks/HW6/JacekRutkowski/plots/p4.png
Labels: more than one HWs in a single PR, technical error e.g. no visible plots, late/part missing, HW6, HW4

#131 Homework V (HW5)
  Homeworks/HW4/JakubBednarz/Analysis, Part IV.html
  Homeworks/HW4/JakubBednarz/Analysis, Part IV.ipynb
  Homeworks/HW4/JakubBednarz/Makefile
  Homeworks/HW5/JakubBednarz/Analysis, Part V.html
  Homeworks/HW5/JakubBednarz/Analysis, Part V.ipynb
  Homeworks/HW5/JakubBednarz/Makefile
  Homeworks/HW5/JakubBednarz/brain_stroke.csv
Labels: more than one HWs in a single PR, OK but waiting for another PR
